<!DOCTYPE html>
<html>
    <head>  
        <meta charset="UTF-8">  
        <title></title>  
        {% load static %}  
       <link rel="stylesheet" href="{% static '/css/style.css' %}"/>   
       <link rel="icon" type="image/x-icon" href="favicon.ico">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>  
    <body>
        <section>
            <div class="container" style="padding-top:10px">
                <button type="button"  style="border-radius:12px;" class="btn  btn-lg btn-block"><b><p style="font-size: 50px; color: black;" >Registration</p></b></button>
      
              </div>
      
            <form>
                <div class="container">
      
                    <div class="row" style="padding-top: 10px; ">
                        <div style="padding-left: 140px; padding-right: 60px;" >
                            <button type="button" style="border-radius:20px; height: 120px; width: 300px;" class="b1" ><p style="font-size: 35px; color: black;"><a href="/customer"><b>Customer <br> Registration</b></p></a></button>
                        </div>
                        <div style="padding-left: 100px;padding-right: 60px;">
                            <button type="button" style="border-radius:20px; height: 120px; width: 300px;" class="b1" ><p style="font-size: 35px; color: black;"><a href="/supplier"><b>Supplier<br>Registration </b></p></a></button>
                        </div>
                    </div>
                    <div class="row" style="padding-top: 20px; ">
                        <div style="padding-left: 140px; padding-right: 60px;" >
                            <button type="button" style="border-radius:20px; height: 120px; width: 300px;" class="b1" ><p style="font-size: 35px; color: black;"><a href="/ledger"><b>Ledger  <br>Registration</b></p></a></button>
                        </div>
                        <div style="padding-left: 100px;padding-right: 60px;">
                            <button type="button" style="border-radius:20px; height: 120px; width: 300px;" class="b1" ><p style="font-size: 35px; color: black;"><a href="/items"><b>Item <br>Registration</b></p></a></button>
                        </div>
                    </div>
                    <div class="row" style="padding-top: 20px; ">
                        <div style="padding-left: 140px; padding-right: 60px;" >
                            <button type="button" style="border-radius:20px; height: 120px; width: 300px;" class="b1" ><p style="font-size: 35px; color: black;"><a href="/jobadd"><b>Job<br>Registration</b></p></a></button>
                        </div>
                        <div style="padding-left: 100px;padding-right: 60px;">
                            <button type="button" style="border-radius:20px; height: 120px; width: 300px;" class="b1" ><p style="font-size: 35px; color: black;"><a href="/EmployeeAdd"><b>Employee <br>Registration</b></p></a></button>
                        </div>
                    </div>
                    <div class="row" style="padding-top: 30px; ">
                        <div style="padding-left: 390px; padding-right: 60px;" >
                            <button type="button" style="border-radius:20px; height: 120px; width: 300px;" class="b1" ><p style="font-size: 35px; color: black;"><a href="/group"><b>group <br>Registration</b></p></a></button>
                        </div>
                        
                    </div>
                   
      
                </div>
            </form>
        </section>
      </body>
      

</html>