<!DOCTYPE html>
<html>
    <head>  
        <meta charset="UTF-8">  
        <title>Employee Records</title>  
         {% load static %}  
         <link rel="stylesheet" href="{% static 'css/style.css' %}"/>   
    </head>  

    <body>  
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header">
                        <h1 class="fw-bold"><center>Employee Added</center> </h1>
                    </div>
                    <div class="card-body">

                        <table border="2" class="table table-striped table-bordered table-sm">  
                            <thead class="thead-dark">  
                            <tr>  
                                <th>Employee ID</th>  
                                <th>Employee Name</th>  
                                <th>Nationality</th>  
                                <th>Birth Date</th>  
                                <th>Joining Date </th> 
                                <th> Designation </th> 
                                <th> Department </th> 
                                <th>Salary Category</th>  
                                <th>Passort No </th> 
                                <th> Expires On</th> 
                                <th> Id No </th> 
                                <th> Expires On</th> 
                                
                                
                                <th> Basic </th>
                                <th> Housing </th>
                                <th> Transportation </th>
                                <th> Food </th>
                                <th> Mobile </th>
                                <th> Other </th>
                                <th> Net Pay </th>
                                <th> Image-1 </th> 
                                <th> Image-2 </th>
                                <th> Image-3 </th>
                                <th> Image-4 </th>
                                
                            </tr>  
                            </thead>  
                            <tbody>  
                                 {% for i  in employeez %}  
                            <tr>  
                                <td>{{ i.id }}</td> 
                                <td>{{ i.emp_name  }}</td>
                                <td>{{ i.nationality }}</td>
                                <td>{{ i.birth_date  }}</td>  
                                <td>{{ i.joining_date  }}</td>
                                <td>{{ i.designation  }}</td>
                                <td>{{ i.department  }}</td>
                                <td>{{ i.salary_categ  }}</td>
                                <td>{{ i.passport_no  }}</td>
                                <td>{{ i.expir  }}</td>
                                <td>{{ i.id_no  }}</td>
                                <td>{{ i.id_expir  }}</td>
                                <td>{{ i.basic  }}</td>
                                <td>{{ i.housing  }}</td>
                                <td>{{ i.transportation  }}</td>
                                <td>{{ i.food  }}</td>
                                <td>{{ i.mobile  }}</td>
                                <td>{{ i.other  }}</td>
                                <td>{{ i.netpay  }}</td>
                                
                
                                {% if i.img1 and i.img2 and i.img3 and i.img4 %}
                                    <td><img src="{{ i.img1.url }}" alt="" width="100" ></td>
                                    <td><img src="{{ i.img2.url }}" alt="" width="100" ></td>
                                    <td><img src="{{ i.img3.url }}" alt="" width="100" ></td>
                                    <td><img src="{{ i.img4.url }}" alt="" width="100" ></td>
                                                            
                                {% else %}
                                    <td><img src="{% static 'uploads/item.png' %}" alt="" width="100"></td>
                                    <td><img src="{% static 'uploads/item.png' %}" alt="" width="100"></td>
                                    <td><img src="{% static 'uploads/item.png' %}" alt="" width="100"></td>
                                    <td><img src="{% static 'uploads/item.png' %}" alt="" width="100"></td>
                                 {% endif %}
                                
                                 <td>
                                    <a href="{% url 'edit-employee' i.id %}" >EDIT</a></td>
                                    
                                   <td><a href="{% url 'delete-employee' i.id %}">DELETE</a></td> 
                                
                                
                                <!-- <td>  
                                    <a href="/edit/{{ sam_item.id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>  
                                    <a href="/delete/{{ sam_item.id }}">Delete</a>  
                                </td>   -->
                            </tr>  
                        {% endfor %}  
                            </tbody>  
                        </table>  
                    </div>
                </div>
            </div>
        </div>
                       
                        
       
        <br>  
        <br>  
        <center><a href="/EmployeeAdd" >Add New Record</a></center>  
        </body>  
</html>