<!DOCTYPE html>
<html>
    <head>  
        <meta charset="UTF-8">  
        <title>Edit Item</title>  
     {% load static %}  
       <link rel="stylesheet" href="{% static '/css/style.css' %}"/>   
       <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>  
    <body>
        <section style="padding-top:30px">
          <div class="container">
            <button type="button"  style="border-radius:12px;" class="btn  btn-lg btn-block"><b><p style="font-size: 50px;">Item </p></b></button>
             &emsp;
            <button type="button"  style="border-radius:12px;" class="btn  btn-sm btn-block"><b><p style="font-size: 30px;">Item Update</p></b></button>
            <br>
          </div>
        
          <form method="POST" enctype="multipart/form-data" action="">
            {% csrf_token %}  
            <div class="container-sm ">
      
               <div class="row" style="padding-top: 5px;">
                <div class="col-sm-3">
                  <input type="text " style="border-radius:12px;" class="form-control"  placeholder="Item ID" >
                </div>
                <div class="col-sm-9">
                  <input type="text " style="border-radius:12px;" class="form-control" name="" value="{{itm.id}}" placeholder="" disabled>  
                </div>
              </div> 
      
              <div class="row" style="padding-top: 5px;">
                <div class="col-sm-3">
                  <input type="text " style="border-radius:12px;" class="form-control"  placeholder="Item Name" >
                </div>
                <div class="col-sm-9">
                  <input type="text " style="border-radius:12px;" class="form-control" value="{{itm.item_name}}" name="item_name" placeholder="" disabled>
                </div>
              </div>
      
              <div class="row" style="padding-top: 5px;">
                <div class="col-sm-3">
                  <input type="text " style="border-radius:12px;" class="form-control"  placeholder="Item Description" >
                </div>
                <div class="col-sm-9">
                  <input type="text " style="border-radius:12px;" class="form-control" value="{{itm.item_desc}}" name="item_desc" placeholder="" disabled>
                </div>
              </div>
              <div class="row" style="padding-top: 5px;">
                <div class="col-sm-3">
                  <input type="text " style="border-radius:12px;" class="form-control"  placeholder="Item Barcode" >
                </div>
                <div class="col-sm-9">
                  <input type="text " style="border-radius:12px;" class="form-control" value="{{itm.item_barcode}}" name=" item_barcode"  placeholder="" disabled>
                </div>
              </div>
              <div class="row" style="padding-top: 5px;">
                <div class="col-sm-3">
                  <input type="text " style="border-radius:12px;" class="form-control"  placeholder="Item Category" >
                </div>
                <div class="col-sm-9">
                  <input type="text " style="border-radius:12px;" class="form-control" value="{{itm.item_category}}"  name="item_category" placeholder="" disabled>
                </div>
              </div>
      
              <div class="row" style="padding-top: 5px;">
                <div class="col-sm-3">
                  <input type="text " style="border-radius:12px;" class="form-control"  placeholder="Item Unit" >
                </div>
                <div class="col">
                  <input type="text " style="border-radius:12px;" class="form-control"  placeholder="Primary" >
                </div>
                <div class="col">
                  <input type="text " style="border-radius:12px;" class="form-control" value="{{itm.item_unit_prim}}"  name="item_unit_prim" placeholder="" disabled>
                </div>
                <div class="col">
                  <input type="text " style="border-radius:12px;" class="form-control"  placeholder="Secondary" >
                </div>
                <div class="col">
                  <input type="text " style="border-radius:12px;" class="form-control" value="{{itm.item_unit_sec}}"  name="item_unit_sec"  placeholder="" disabled>
                </div>
              </div>
      
              <div class="row" style="padding-top: 5px;">
                <div class="col-sm-3">
                  <input type="text " style="border-radius:12px;" class="form-control"  placeholder="Opening Balance" >
                </div>
                <div class="col-sm-9">
                  <input type="text " style="border-radius:12px;" class="form-control" value="{{itm.open_balance}}"  name="open_balance" placeholder=""disabled >
                </div>
              </div>
              <div class="row" style="padding-top: 5px;"> 
                <div class="col-sm-3">
                  <input type="text " style="border-radius:12px;" class="form-control"  placeholder="Buying Price" >
                </div>
                <div class="col-sm-9">
                  <input type="text " style="border-radius:12px;" class="form-control" value="{{itm.buying_price}}"  name="buying_price" placeholder="" disabled>
                </div>
              </div>
              <div class="row" style="padding-top: 5px;">
                <div class="col-sm-3">
                  <input type="text " style="border-radius:12px;" class="form-control"  placeholder="Selling Price" >
                </div>
                <div class="col-sm-9">
                  <input type="text " style="border-radius:12px;" class="form-control" value="{{itm.sell_price}}"  name="sell_price" placeholder="" disabled>
                </div>
              </div>
            </div> 
            <div class="container">
              <div class="row" style="padding-top: 5px;">
                <div class="col-sm-3">
                  <input type="text" style="border-radius:12px;" class="form-control"  placeholder="Add Image" >
                </div>
                {% if itm.image1 and itm.image2 and itm.image3 and itm.image4 %}
                <div class="col" ><td><img src="{{ itm.image1.url }}" alt="" width="100" ></td></div>
                <div class="col"> <td><img src="{{ itm.image2.url }}" alt="" width="100" ></td></div>
                <div class="col"> <td><img src="{{ itm.image3.url }}" alt="" width="100" ></td></div>
                <div class="col-3"> <td><img src="{{ itm.image4.url }}" alt="" width="100" ></td></div>
                {% endif %}
                <div class="col-3"></div>
               
              </div>
              <script>
                function myFunction() {
                  var x = document.getElementById("myFile");
                  x.disabled = true;
                }
                </script> 
      
            </div>
      
           
      
            <div class="container">
                <div class="row" style="padding-top: 15px;"> 
                  
                 <div class="col-sm-4">
                  <button  type="submit" style="border-radius: 12px;" class="btn btn-lg btn-block"><a href="{% url 'delete-item' itm.id %}">Delete</a> </button>
                 </div>
                 <div class="col-sm-4">
                  <button  type="submit" style="border-radius: 12px;" class="btn btn-lg btn-block"><a href="/itemshow">Back</a> </button>
                 </div>
                </div>
              </div>
          </form>  
        </section>
        </body>
        
        
</html>